{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Список подписчиков</h1>
<form id="csrf-form">
    {% csrf_token %}
</form>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>День рождения</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody id="subscriber-list">
        {% for subscriber in subscribers %}
        <tr id="subscriber-{{ subscriber.email }}">
            <td>{{ subscriber.first_name }}</td>
            <td>{{ subscriber.last_name }}</td>
            <td>{{ subscriber.email }}</td>
            <td>{{ subscriber.birthday }}</td>
            <td>
                <button class="btn btn-danger" onclick="deleteSubscriber('{{ subscriber.email }}')">Удалить</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'homepage' %}" class="btn btn-primary">На главную</a>

<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
